/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.cargando h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #1d2325;
}


/* Estilo para el contenedor principal */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Estilo para la tarjeta del producto */
.detail-product {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Estilo para la imagen del producto */
.detail-card img {
    width: 100%;
    height: auto;
}

/* Estilo para la información del producto */
.detail-product-info {
    padding: 15px;
}

/* Estilo para el título del producto */
.detail-product-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

/* Estilo para el precio del producto */
.detail-product-info span {
    font-size: 15px;
    color: #000000;
    margin: 10px 0;
    display: block;
}

/* Estilo para la descripción del producto */
.detail-product-info p {
    color: #666;
    line-height: 1.5;
}

/* Estilo para el botón */
.btn-volver {
    background-color: #1d2325;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

/* Efecto hover para el botón */
.btn-secundary:hover {
    background-color: #1d2325;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .detail-product {
    padding: 10px;
    }

    .detail-product-info h3 {
        font-size: 1.2em;
    }

    .detail-product-info span {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .detail-product {
        padding: 5px;
    }

    .detail-product-info h3 {
        font-size: 1em;
    }

    .detail-product-info span {
        font-size: 0.9em;
    }

    .btn-volver {
        width: 100%;
        padding: 12px;
    }
}